body{
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 130%;
}

.carousel{
    width: 80%;
    position: relative;
    margin: auto;
    margin-top: 10px;
}

img{
    width: 100%;
}

.pictures{
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 20px;
}

.active, .dot:hover {
    background-color: #717171;
}

.dots{
    text-align: center;
}

.btns{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.btns button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.btns button:hover {
    background-color: #ddd;
}

.btns button.active {
    background-color: #ccc;
}

.tabs{
    width: 80%;
    color: white;
    margin: auto;
}

.content{
    padding: 2% 2%;
    border: 1px solid #ccc;
    border-top: none;
}

<<<<<<< HEAD
#Practical {
    display: none;
}

#Contact {
    display: none;
=======
#Summary{
    display: none;
}

#Practical{
    display: none;
}

#Contact{
    display: none;
}


#Contact input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

>>>>>>> 00ae24df4f9acb30fb9d7d842bb7fb444b450594
}

#Contact input[type=submit] {
    width: 50%;
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#Contact input[type=submit]:hover {
    background-color: darkorange;
}

#Contact label{
    width: 100%;
    margin: auto;
}

.container {
    color: white;
    width: 80%;
    margin: 50px auto;
    background-color: green;
}